body {
  background-color: #f0f8ff;
  font-family: sans-serif;
  padding: 20px;
}

nav {
  background-color: #d0e6ff;
  padding: 10px;
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #004080;
}

h1 {
  color: #003366;
 margin-bottom: 10px;
}

h2 {
  color: #336699;
  margin-top: 20px;
}

pre {
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
}
